<main>
  <div class="container">
    <section class="lots">
      <h2><%= !lots.length ? 'Nothing found for your request:' : 'Search results for:' %> «<span><%= search %></span>»</h2>
      <ul class="lots__list">
        <% lots.forEach((lot) => { %>
          <%- include('../../../common/views/partials/card.ejs', { lot }) %>
        <% }) %>
      </ul>
    </section>
  </div>
</main>