{% extends "base.html" %}

{% block content %}
    <main class="container">
        <section class="profile">
            <div class="profile__header">
                <div class="header__left">
                    <h1 class="profile__title">{{ profile_user.username|capfirst }}</h1>

                    <small class="profile__follower-wrapper">
                        <span>Followers: {{ profile_user.followers.get_total_count }}</span>
                        <span>Following: {{ profile_user.following.get_total_count }}</span>
                    </small>
                </div>

                <div class="header__right">
                    {% if user.is_authenticated and profile_user != user %}
                        {% include "followers/following_form.html" %}
                    {% endif %}
                </div>
            </div>

            <div class="profile__info">
                <h2>Profile info</h2>
                <ul class="profile__info-list">
                    <li class="profile__info-item">Email: {{ profile_user.email }}</li>
                </ul>
            </div>

            {% include "lots/comments.html" with comments=profile_user.comments.get_all_recent author=False %}
        </section>
    </main>
{% endblock content %}
