<main>
  <div class="container">
    <section class="lots">
      <h2>History</h2>
      <ul class="lots__list">
        <% lots.forEach((lot) => { %>
        <%- include('../../../common/views/partials/card.ejs', { lot }) %>
        <% }); %>
      </ul>
    </section>

    <% include('../../../common/views/partials/pagination.ejs') %>
  </div>
</main>