<main>
  <div class="container">
    <section class="lots">
      <h2>All lots in the category <span>«<%= name %>»</span></h2>
      <ul class="lots__list">
        <% lots.forEach((lot) => { %>
        <%- include('../../../common/views/partials/card.ejs', { lot }) %>
        <% }); %>
      </ul>

      <%# include('../../../common/views/partials/pagination.ejs') %>
    </section>
  </div>
</main>