<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link href="/css/normalize.min.css" rel="stylesheet">
  <link href="/css/flatpickr.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="icon" href="/img/favicon.png" />

  <title>Yeticave</title>
</head>


<body>
  <div style="display: none">
    <svg xmlns="http://www.w3.org/2000/svg">
      <symbol id="icon-bookmark" viewBox="0 0 17 18">
        <path
          d="M3.993 2.185l.017-.092V2c0-.554.449-1 .99-1h10c.522 0 .957.41.997.923l-2.736 14.59-4.814-2.407-.39-.195-.408.153L1.31 16.44 3.993 2.185z">
        </path>
      </symbol>

      <symbol id="facebook" viewBox="0 0 27 27">
        <circle fill="none" cx="13.5" cy="13.5" r="12.667"></circle>
        <path stroke="none"
          d="M14.26 20.983h-2.816v-6.626H10.04v-2.28h1.404v-1.364c0-1.862.79-2.922 3.04-2.922h1.87v2.28h-1.17c-.876 0-.972.322-.972.916v1.14h2.212l-.245 2.28h-1.92v6.625z">
        </path>
      </symbol>

      <symbol id="twitter" viewBox="0 0 27 27">
        <circle fill="none" cx="13.5" cy="13.5" r="12.687"></circle>
        <path stroke="none"
          d="M18.38 10.572c.525-.336.913-.848 1.092-1.445-.485.305-1.02.52-1.58.635-.458-.525-1.12-.827-1.816-.83-1.388.063-2.473 1.226-2.44 2.615-.002.2.02.4.06.596-2.017-.144-3.87-1.16-5.076-2.78-.22.403-.335.856-.332 1.315-.01.865.403 1.68 1.104 2.188-.397-.016-.782-.13-1.123-.333-.03 1.207.78 2.272 1.95 2.567-.21.06-.43.09-.653.088-.155.015-.313.015-.47 0 .3 1.045 1.238 1.777 2.324 1.815-.864.724-1.956 1.12-3.083 1.122-.198.013-.397.013-.595 0 1.12.767 2.447 1.18 3.805 1.182 4.57 0 7.066-3.992 7.066-7.456v-.34c.49-.375.912-.835 1.24-1.357-.465.218-.963.36-1.473.42z">
        </path>
      </symbol>

      <symbol id="instagram" viewBox="0 0 27 27">
        <circle fill="none" cx="13.5" cy="13.5" r="12.687"></circle>
        <path stroke="none"
          d="M13.5 8.3h2.567c.403.002.803.075 1.18.213.552.213.988.65 1.2 1.2.14.38.213.778.216 1.18v5.136c-.003.403-.076.803-.215 1.18-.213.552-.65.988-1.2 1.2-.378.14-.778.213-1.18.216h-5.135c-.403-.003-.802-.076-1.18-.215-.552-.214-.988-.65-1.2-1.2-.14-.38-.212-.78-.215-1.182V13.46v-2.566c.003-.403.076-.802.214-1.18.213-.552.65-.988 1.2-1.2.38-.14.778-.212 1.18-.215H13.5m0-1.143h-2.616c-.526.01-1.048.108-1.54.292-.853.33-1.527 1-1.856 1.854-.184.493-.283 1.014-.292 1.542v5.232c.01.526.108 1.048.292 1.54.33.853 1.003 1.527 1.855 1.856.493.184 1.015.283 1.54.293H16.117c.527-.01 1.048-.11 1.54-.293.854-.33 1.527-1.003 1.856-1.855.184-.493.283-1.015.293-1.54V13.46v-2.614c-.01-.528-.11-1.05-.293-1.542-.33-.853-1.002-1.525-1.855-1.855-.493-.185-1.014-.283-1.54-.293-.665.01-.89 0-2.617 0zm0 3.093c-2.51.007-4.07 2.73-2.808 4.898 1.26 2.17 4.398 2.16 5.645-.017.285-.495.434-1.058.433-1.63-.006-1.8-1.47-3.256-3.27-3.25zm0 5.378c-1.63-.007-2.64-1.777-1.82-3.185.823-1.41 2.86-1.4 3.67.017.18.316.276.675.278 1.04.006 1.177-.95 2.133-2.128 2.128zm4.118-5.524c0 .58-.626.94-1.127.65-.5-.29-.5-1.012 0-1.3.116-.067.245-.102.378-.102.418-.005.76.333.76.752z">
        </path>
      </symbol>

      <symbol id="github" viewBox="0 0 16 16">
        <path stroke="none"
          d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z">
        </path>
      </symbol>
    </svg>
  </div>






  <header class="main-header">
    <div class="main-header__container container">
      <h1 class="visually-hidden">YetiCave</h1>

      <a href=/ class="main-header__logo">
        <img src="/img/logo.svg" width="160" height="39" alt="YetiCave Logo">
      </a>

      <form method="get" action="/search/" class="main-header__search">
        <input type="search" name="q" placeholder="Find lot by text">
        <button class="main-header__search-btn" type="submit">
          <span class="visually-hidden">Search</span>
        </button>
      </form>



      <nav class="user-menu">
        <ul class="user-menu__list">
          <li class="user-menu__item">
            <a href="/login/">Login</a>
          </li>
          <li class="user-menu__item">
            <a href="/register/">Register</a>
          </li>
        </ul>
      </nav>

    </div>
  </header>



  <main>
    <section class="lot-item container">
      <div class="lot-item__header">
        <h1>1</h1>


      </div>

      <div class="lot-item__content">
        <div class="lot-item__left">
          <img src="https://letsenhance.io/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg"
            class="lot-item__image" width="730" height="548" alt="1" />

          <div class="lot-item__row">
            <p class="lot-item__category">
              Category: <span>Boards</span>
            </p>

          </div>

          <p class="lot-item__description">qw</p>

          <div class="lot-item__comments comments">
            <h2>Comments</h2>



            <ul class="comment__list">

              <li class="comment__item">
                <div class="comment__sender"></div>
                <p class="comment__text">lol</p>
                <time class="comment__time" datetime="June 12, 2024, 2:45 p.m.">June 12, 2024, 2:45
                  p.m.</time>

                <div class="comment__actions">
                  <div class="comment__action">

                    0
                  </div>

                  <div class="comment__action">

                    1
                  </div>
                </div>
              </li>


              <li class="comment__item">
                <div class="comment__sender"></div>
                <p class="comment__text">lol</p>
                <time class="comment__time" datetime="June 12, 2024, 2:45 p.m.">June 12, 2024, 2:45
                  p.m.</time>

                <div class="comment__actions">
                  <div class="comment__action">

                    0
                  </div>

                  <div class="comment__action">

                    0
                  </div>
                </div>
              </li>


              <li class="comment__item">
                <div class="comment__sender"></div>
                <p class="comment__text">ahaha</p>
                <time class="comment__time" datetime="June 10, 2024, 1:57 p.m.">June 10, 2024, 1:57
                  p.m.</time>

                <div class="comment__actions">
                  <div class="comment__action">

                    0
                  </div>

                  <div class="comment__action">

                    1
                  </div>
                </div>
              </li>


              <li class="comment__item">
                <div class="comment__sender"></div>
                <p class="comment__text">xd</p>
                <time class="comment__time" datetime="June 10, 2024, 1:57 p.m.">June 10, 2024, 1:57
                  p.m.</time>

                <div class="comment__actions">
                  <div class="comment__action">

                    2
                  </div>

                  <div class="comment__action">

                    0
                  </div>
                </div>
              </li>


              <li class="comment__item">
                <div class="comment__sender"></div>
                <p class="comment__text">I am a test</p>
                <time class="comment__time" datetime="June 10, 2024, 1:25 p.m.">June 10, 2024, 1:25
                  p.m.</time>

                <div class="comment__actions">
                  <div class="comment__action">

                    2
                  </div>

                  <div class="comment__action">

                    0
                  </div>
                </div>
              </li>


              <li class="comment__item">
                <div class="comment__sender"></div>
                <p class="comment__text">omg</p>
                <time class="comment__time" datetime="June 10, 2024, 1:25 p.m.">June 10, 2024, 1:25
                  p.m.</time>

                <div class="comment__actions">
                  <div class="comment__action">

                    2
                  </div>

                  <div class="comment__action">

                    0
                  </div>
                </div>
              </li>


            </ul>
          </div>
        </div>

        <div class="lot-item__right">
          <div class="bet">
            <div class="lot-item__cost-state">
              <div class="lot-item__rate">
                <div class="lot-item__amount">Current price</div>
                <div class="lot-item__cost">$3.00</div>
              </div>
            </div>


          </div>

          <div class="history">
            <h2>
              History of rates (<span>2</span>)
            </h2>
            <table class="history__list">



              <tr class="history__item">
                <td class="history__name">test@mail.com</td>
                <td class="history__price">$3.00</td>
                <td class="history__time">June 10, 2024, 1:25 p.m.</td>
              </tr>




              <tr class="history__item">
                <td class="history__name">vlad</td>
                <td class="history__price">$2.00</td>
                <td class="history__time">June 4, 2024, 4:35 p.m.</td>
              </tr>


            </table>
          </div>
        </div>
      </div>
    </section>
  </main>


  <footer class="main-footer">
    <nav class="nav">
      <ul class="nav__list container">

        <li class="nav__item">
          <a href="/categories/1/">
            Boards
          </a>
        </li>

        <li class="nav__item">
          <a href="/categories/2/">
            Attachment
          </a>
        </li>

        <li class="nav__item">
          <a href="/categories/3/">
            Boots
          </a>
        </li>

        <li class="nav__item">
          <a href="/categories/4/">
            Clothing
          </a>
        </li>

        <li class="nav__item">
          <a href="/categories/5/">
            Tools
          </a>
        </li>

        <li class="nav__item">
          <a href="/categories/6/">
            Other
          </a>
        </li>

      </ul>
    </nav>
    <div class="main-footer__bottom container">
      <div class="main-footer__copyright">
        <p>© 2023, YetiCave</p>
        <p>Online auction of snowboard and ski equipment</p>
      </div>
      <div class="main-footer__social">
        <a href="#" class="social-link">
          <span class="visually-hidden">Facebook</span>
          <svg width="27" height="27" class="social-link__item">
            <use xlink:href="#facebook"></use>
          </svg>
        </a>

        <a href="#" class="social-link">
          <span class="visually-hidden">Twitter</span>
          <svg width="27" height="27" class="social-link__item">
            <use xlink:href="#twitter"></use>
          </svg>
        </a>

        <a href="#" class="social-link">
          <span class="visually-hidden">Instagram</span>
          <svg width="27" height="27" class="social-link__item">
            <use xlink:href="#instagram"></use>
          </svg>
        </a>
      </div>
      <div class="main-footer__developed-by">
        <span class="visually-hidden">Development</span>
        <a href="https://github.com/vFlicker" class="social-link">
          <span class="visually-hidden">Github</span>
          <svg width="32" height="32" class="social-link__item">
            <use xlink:href="#github"></use>
          </svg>
        </a>
      </div>
    </div>
  </footer>



  <script src="/js/flatpickr.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>