<%- contentFor('content') %>

<section class="promo">
  <h1>Search results</h1>

  <ul class="lots__list">



    <li class="lot lots__item">
      <div class="lot__image">
        <a href="/lots/3/">
          <img src="https://letsenhance.io/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" width="350" height="260" alt="1" />
        </a>
      </div>
      <div class="lot__info">
        <div class="lot__header">
          <span class="lot__category">Boards</span>


          <form action="/watchlist/3/" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="HK95Lg35r6897SFqK8pRIxpuaPAamqjgzod7oGBniPiX5OCPTwKcmlUjH0Q7FuVW">

            <button type="submit" class="bookmark-button bookmark-button--active">
              <svg class="bookmark-button__icon" width="18" height="19">
                <use xlink:href="#icon-bookmark"></use>
              </svg>
              <span class="visually-hidden">To bookmarks</span>
            </button>
          </form>


        </div>

        <h3 class="lot__title">
          <a class="text-link" href="/lots/3/">1</a>
        </h3>

        <div class="lot__state">
          <div class="lot__rate">
            <span class="lot__amount">Price</span>
            <span class="lot__cost">$3.00</span>
          </div>
        </div>
      </div>
    </li>


  </ul>
</section>