<%- contentFor('content') %>

<form action="/register/" method="post" class="form form-login ">
  <h1 class="register__heading">Sign up</h1>

  <div class="form__item">
    <label for="id_username">Username *</label>
    <input type="text" name="username" placeholder="Enter username" maxlength="150" required id="id_username">
  </div>

  <div class="form__item">
    <label for="id_email">Email Address *</label>
    <input type="email" name="email" placeholder="Enter email" maxlength="254" required id="id_email">
  </div>

  <div class="form__item">
    <label for="id_password">Password *</label>
    <input type="password" name="password" placeholder="Enter password" maxlength="128" required id="id_password">
  </div>

  <div class="form__item">
    <label for="id_confirm_password">Confirm password *</label>
    <input type="password" name="passwordConfirm" placeholder="Enter password again" required id="id_confirm_password">
  </div>

  <button type="submit" class="button">Sign up</button>

  <p>Already have an account? <a href="/login/">Log In here.</a></p>

  <%- include("../../partials/error-messages", { errors }) %>
</form>