<%- contentFor('content') %>

<section class="rates">
  <h1>My bets</h1>
  <table class="rates__list">
    <tbody>
      <tr class="rates__item">
        <th class="rates__title rates__title--info">Name</th>
        <th class="rates__title rates__title--category">Category</th>
        <th class="rates__title rates__title--timer">End of auction</th>
        <th class="rates__title rates__title--price">Price</th>
        <th class="rates__title rates__title--time">Bet time</th>
      </tr>


      <tr class="rates__item None">
        <td class="rates__info">
          <div class="rates__img">
            <img src="https://adamj.eu/tech/assets/2021-05-15-ants.jpg" width="54" height="40" alt="Test">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="/lots/4/">Test</a>
            </h3>
            <p>Creator email: vlad@mail.com</p>
          </div>
        </td>
        <td class="rates__category">Boards</td>
        <td class="rates__timer">
          <div class="timer None">180d 2h 48m</div>
        </td>
        <td class="rates__price">$13.00</td>
        <td class="rates__time">24/06/10</td>
      </tr>

      <tr class="rates__item None">
        <td class="rates__info">
          <div class="rates__img">
            <img src="https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/Articles/discover-the-secret-language-of-flowers-2022-hero.jpeg" width="54" height="40" alt="Flowers">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="/lots/9/">Flowers</a>
            </h3>
            <p>Creator email: vlad@mail.com</p>
          </div>
        </td>
        <td class="rates__category">Tools</td>
        <td class="rates__timer">
          <div class="timer None">84d 0h 45m</div>
        </td>
        <td class="rates__price">$21.00</td>
        <td class="rates__time">24/06/10</td>
      </tr>

      <tr class="rates__item None">
        <td class="rates__info">
          <div class="rates__img">
            <img src="https://adamj.eu/tech/assets/2021-05-15-ants.jpg" width="54" height="40" alt="Test">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="/lots/4/">Test</a>
            </h3>
            <p>Creator email: vlad@mail.com</p>
          </div>
        </td>
        <td class="rates__category">Boards</td>
        <td class="rates__timer">
          <div class="timer None">180d 2h 48m</div>
        </td>
        <td class="rates__price">$14.00</td>
        <td class="rates__time">24/06/23</td>
      </tr>

      <tr class="rates__item None">
        <td class="rates__info">
          <div class="rates__img">
            <img src="https://adamj.eu/tech/assets/2021-05-15-ants.jpg" width="54" height="40" alt="Test">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="/lots/4/">Test</a>
            </h3>
            <p>Creator email: vlad@mail.com</p>
          </div>
        </td>
        <td class="rates__category">Boards</td>
        <td class="rates__timer">
          <div class="timer None">180d 2h 48m</div>
        </td>
        <td class="rates__price">$15.00</td>
        <td class="rates__time">24/06/23</td>
      </tr>

      <tr class="rates__item None">
        <td class="rates__info">
          <div class="rates__img">
            <img src="https://adamj.eu/tech/assets/2021-05-15-ants.jpg" width="54" height="40" alt="Test">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="/lots/4/">Test</a>
            </h3>
            <p>Creator email: vlad@mail.com</p>
          </div>
        </td>
        <td class="rates__category">Boards</td>
        <td class="rates__timer">
          <div class="timer None">180d 2h 48m</div>
        </td>
        <td class="rates__price">$16.00</td>
        <td class="rates__time">24/06/23</td>
      </tr>

      <tr class="rates__item None">
        <td class="rates__info">
          <div class="rates__img">
            <img src="https://letsenhance.io/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" width="54" height="40" alt="last">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="/lots/7/">last</a>
            </h3>
            <p>Creator email: vlad@mail.com</p>
          </div>
        </td>
        <td class="rates__category">Clothing</td>
        <td class="rates__timer">
          <div class="timer None">180d 2h 48m</div>
        </td>
        <td class="rates__price">$124.00</td>
        <td class="rates__time">24/06/23</td>
      </tr>

      <tr class="rates__item None">
        <td class="rates__info">
          <div class="rates__img">
            <img src="https://letsenhance.io/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" width="54" height="40" alt="last">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="/lots/7/">last</a>
            </h3>
            <p>Creator email: vlad@mail.com</p>
          </div>
        </td>
        <td class="rates__category">Clothing</td>
        <td class="rates__timer">
          <div class="timer None">180d 2h 48m</div>
        </td>
        <td class="rates__price">$125.00</td>
        <td class="rates__time">24/06/23</td>
      </tr>

      <tr class="rates__item None">
        <td class="rates__info">
          <div class="rates__img">
            <img src="https://letsenhance.io/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" width="54" height="40" alt="last">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="/lots/7/">last</a>
            </h3>
            <p>Creator email: vlad@mail.com</p>
          </div>
        </td>
        <td class="rates__category">Clothing</td>
        <td class="rates__timer">
          <div class="timer None">180d 2h 48m</div>
        </td>
        <td class="rates__price">$126.00</td>
        <td class="rates__time">24/06/23</td>
      </tr>

      <tr class="rates__item None">
        <td class="rates__info">
          <div class="rates__img">
            <img src="https://letsenhance.io/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" width="54" height="40" alt="last">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="/lots/7/">last</a>
            </h3>
            <p>Creator email: vlad@mail.com</p>
          </div>
        </td>
        <td class="rates__category">Clothing</td>
        <td class="rates__timer">
          <div class="timer None">180d 2h 48m</div>
        </td>
        <td class="rates__price">$127.00</td>
        <td class="rates__time">24/06/23</td>
      </tr>

      <tr class="rates__item None">
        <td class="rates__info">
          <div class="rates__img">
            <img src="https://letsenhance.io/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" width="54" height="40" alt="last">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="/lots/7/">last</a>
            </h3>
            <p>Creator email: vlad@mail.com</p>
          </div>
        </td>
        <td class="rates__category">Clothing</td>
        <td class="rates__timer">
          <div class="timer None">180d 2h 48m</div>
        </td>
        <td class="rates__price">$128.00</td>
        <td class="rates__time">24/06/23</td>
      </tr>

    </tbody>
  </table>
</section>