<%- contentFor('content') %>

<section class="profile">
  <div class="profile__header">
    <div class="header__left">
      <h1 class="profile__title">Flicker</h1>

      <small class="profile__follower-wrapper">
        <span>Followers: 0</span>
        <span>Following: 2</span>
      </small>
    </div>

    <div class="header__right">

    </div>
  </div>

  <div class="profile__info">
    <h2>Profile info</h2>
    <ul class="profile__info-list">
      <li class="profile__info-item">Email: flicker@mail.com</li>
    </ul>
  </div>

  <div class="comments">
    <h2>Comments</h2>
    <div class="comments__list">

      <div class="comments__item">

        <div class="comments__description">
          <p class="comments__text">kek</p>
          <small class="comments__date">June 10, 2024, 2 a.m.</small>
        </div>
      </div>

      <div class="comments__item">

        <div class="comments__description">
          <p class="comments__text">Olala</p>
          <small class="comments__date">June 10, 2024, 2 a.m.</small>
        </div>
      </div>



      <div class="pagination">
        <span class="pagination__step-links">


          <span class="pagination__current">Page 1 of 1.</span>


        </span>
      </div>


    </div>
  </div>

</section>