<%- contentFor('content') %>

<section class="subscriptions">
  <h1>Subscriptions</h1>

  <div class="comments">
    <h2>Comments</h2>
    <div class="comments__list">

      <div class="comments__item">
        <h3>test@mail.com</h3>
        <div class="comments__description">
          <p class="comments__text">cheburek</p>
          <small class="comments__date">June 12, 2024, 2:45 p.m.</small>
        </div>
      </div>

      <div class="comments__item">
        <h3>test@mail.com</h3>
        <div class="comments__description">
          <p class="comments__text">kek</p>
          <small class="comments__date">June 12, 2024, 2:45 p.m.</small>
        </div>
      </div>

      <div class="comments__item">
        <h3>test@mail.com</h3>
        <div class="comments__description">
          <p class="comments__text">lol</p>
          <small class="comments__date">June 12, 2024, 2:45 p.m.</small>
        </div>
      </div>

      <div class="comments__item">
        <h3>vlad</h3>
        <div class="comments__description">
          <p class="comments__text">lol</p>
          <small class="comments__date">June 12, 2024, 2:45 p.m.</small>
        </div>
      </div>

      <div class="comments__item">
        <h3>test@mail.com</h3>
        <div class="comments__description">
          <p class="comments__text">ahaha</p>
          <small class="comments__date">June 10, 2024, 1:57 p.m.</small>
        </div>
      </div>



      <div class="pagination">
        <span class="pagination__step-links">


          <span class="pagination__current">Page 1 of 2.</span>


          <a href="?page=2" class="pagination__link">next</a>
          <a href="?page=2" class="pagination__link">last</a>

        </span>
      </div>


    </div>
  </div>

</section>