<%- contentFor('content') %>

<section class="lots">
  <h1>Watchlist</h1>
  <ul class="lots__list">
    <% lots.forEach((lot) => { %>
    <%- include("../../partials/lot-card", { lot }) %>
    <% }) %>
  </ul>
</section>