<form action="{% url 'lots:lot' lot.id %}"
      method="POST"
      class="form bet__form {% if form.errors %}form__item--invalid{% endif %}">
    {% csrf_token %}

    <input type="hidden" name="form_type" value="bid" />

    <div class="row">
        {% for field in bid_form %}
            <div class="form__item">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}*{% endif %}
                </label>
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="button">Place bid</button>
    </div>

    {% if bid_form.errors %}
        <ul class="error-messages">
            {% for field, error in bid_form.errors.items %}<li>{{ field }}: {{ error | escape }}</li>{% endfor %}
        </ul>
    {% endif %}
</form>
