{% extends "base.html" %}

{% block content %}
    <main class="container">
        <form action="{% url 'lots:create_lot' %}"
              method="post"
              class="form form--lot {% if form.errors %}form__item--invalid{% endif %}">
            <h2>Create a new lot</h2>

            {% csrf_token %}

            <div class="form__container">
                <div class="form__item">
                    <label for="{{ form.title.id_for_label }}">
                        {{ form.title.label }}
                        {% if form.title.field.required %}*{% endif %}
                    </label>
                    {{ form.title }}
                </div>
                <div class="form__item">
                    <label for="{{ form.category.id_for_label }}">
                        {{ form.category.label }}
                        {% if form.category.field.required %}*{% endif %}
                    </label>
                    {{ form.category }}
                </div>
            </div>
            <div class="form__item">
                <label for="{{ form.description.id_for_label }}">
                    {{ form.description.label }}
                    {% if form.description.field.required %}*{% endif %}
                </label>
                {{ form.description }}
            </div>
            <div class="form__container">
                <div class="form__item">
                    <label for="{{ form.starting_bid.id_for_label }}">
                        {{ form.starting_bid.label }}
                        {% if form.starting_bid.field.required %}*{% endif %}
                    </label>
                    {{ form.starting_bid }}
                </div>
                <div class="form__item">
                    <label for="{{ form.finished_at.id_for_label }}">
                        {{ form.finished_at.label }}
                        {% if form.finished_at.field.required %}*{% endif %}
                    </label>
                    {{ form.finished_at }}
                </div>
            </div>

            <div class="form__item">
                <label for="{{ form.image_url.id_for_label }}">
                    {{ form.image_url.label }}
                    {% if form.image_url.field.required %}*{% endif %}
                </label>
                {{ form.image_url }}
            </div>

            <button type="submit" class="button">Add lot</button>

            {% if form.errors %}
                <ul class="error-messages">
                    {% for field, error in form.errors.items %}<li>{{ field }}: {{ error | escape }}</li>{% endfor %}
                </ul>
            {% endif %}
        </form>
    </main>
{% endblock %}
