<div style="
    padding: 20px;
    background: #45abde;
    color: white;
    text-align: center;
">
  <h1>Congratulations on the victory!</h1>
  <p>Hello, <%= name %>.</p>
  <p>Your bid for lot <%= title %></a> has won!</p>
  <p>Visit your account to contact the lot owner.</p>
  <small>"YetiCave" Internet Auction</small>
</div>