<header class="main-header">
  <div class="main-header__container container">
      <h1 class="visually-hidden">YetiCave</h1>

      <a href="/" class="main-header__logo">
          <img src="/img/logo.svg" width="160" height="39" alt="YetiCave Logo">
      </a>

      <form class="main-header__search" method="get" action="search.php">
          <input type="search" name="search" placeholder="Поиск лота">
          <input class="main-header__search-btn" type="submit" name="find" value="Найти">
      </form>

      <?php if ($is_auth): ?>
          <a class="main-header__add-lot button" href="add-lot.php">Добавить лот</a>
      <?php endif; ?>

      <?php if ($is_auth): ?>
          <div class="user-menu__wrapper">

              <button class="button__menu-open menu-open">
                  <span class="menu-open__name"><?= $user_name ?></span>
                  <!-- TODO: uncomment this -->
                  <!-- <img class="menu-open__image" src="<?= $user_avatar ?>" width="32" height="32" alt="User avatar"> -->
              </button>

              <nav class="user-menu user-menu--login">
                  <a class="user-menu__bets" href="my-bets.php">My bets</a>
                  <a class="user-menu__bets" href="history.php">History</a>
                  <a class="user-menu__logout" href="logout.php">Logout</a>
              </nav>

          </div>

      <?php else: ?>
          <nav class="user-menu">
              <ul class="user-menu__list">
                  <li class="user-menu__item">
                      <a href="sign-up.php">Register</a>
                  </li>
                  <li class="user-menu__item">
                      <a href="login.php">Login</a>
                  </li>
              </ul>
          </nav>
      <?php endif; ?>

  </div>

  <?php isset($can_show_top_menu) ? $can_show_top_menu : $can_show_top_menu = true;
  if ($can_show_top_menu): ?>
  <nav class="nav">
      <ul class="nav__list container">
          <?php foreach ($nav_menu as $menu_item): ?>
          <li class="nav__item">
              <a href="<?= "all-lots.php?id=$menu_item[id]" ?>">
                  <?php print_r($menu_item['name']) ?>
              </a>
          </li>
          <?php endforeach; ?>
      </ul>
  </nav>
  <?php endif; ?>

</header>