<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%- pageTitle %></title>
  <link href="/css/normalize.min.css" rel="stylesheet">
  <link href="/css/flatpickr.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="favicon" href="/img/favicon.png" type="image/png" />
</head>
