<div class="comments">
    <h2>Comments</h2>
    <div class="comments__list">
        {% for comment in comments %}
            <div class="comments__item">
                {% if author %}<h3>{{ comment.author.username }}</h3>{% endif %}
                <div class="comments__description">
                    <p class="comments__text">{{ comment.text }}</p>
                    <small class="comments__date">{{ comment.created_at }}</small>
                </div>
            </div>
        {% endfor %}

        {% if page %}
            {% include "pagination.html" %}
        {% endif %}
    </div>
</div>
