# Files and folders of the operating system
.DS_Store
Thumbs.db

# Files of the editor
.idea
*.sublime*
.vscode

# Files of the operating system
*.log*
node_modules/

# Folder with project build files
build/

# Folder with loaded images
src/express/upload/img/*.*

# Empty file for git to keep the folder in vesrion control system
!src/express/upload/img/.gitkeep

# Files with environment variables
.env
