<main class="container">
  <section class="promo">
    <h2 class="promo__title">Need staff for the skating rink?</h2>
    <p class="promo__text">In our online auction you will find the most exclusive snowboard and ski equipment.</p>
    <ul class="promo__list">
      <% categories.forEach(function(category) { %>
      <li class="promo__item promo__item--<%= category.name.toLowerCase() %>">
        <a class="promo__link" href="<%= getLotCategoryPath(category.name) %>">
          <%= category.name %>
        </a>
      </li>
      <% }); %>
    </ul>
  </section>
  <section class="lots">
    <div class="lots__header">
      <h2>Open lots</h2>
    </div>
    <ul class="lots__list">
      <% lots.forEach(function(lot) { %>
      <%- include('../../../common/views/partials/card.ejs', { lot }) %>
      <% }); %>
    </ul>

    <?php require_once('_pagination.php') ?>
  </section>
</main>