[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.13"

[dev-packages]
black = "==23.11.0"
flake8 = "==3.6.0"
isort = "==5.6.4"
flake8-comprehensions = "==3.8.0"
djlint = "*"

[requires]
python_version = "3.9"
