{% load static %}

<header class="main-header">
    <div class="main-header__container container">
        <h1 class="visually-hidden">YetiCave</h1>

        <a href={% url 'lots:lot_list' %} class="main-header__logo">
            <img src="{% static 'img/logo.svg' %}"
                 width="160"
                 height="39"
                 alt="YetiCave Logo">
        </a>

        {% include "search_form.html" %}

        {% if user.is_authenticated %}
            <a class="main-header__add-lot button"
               href="{% url 'lots:create_lot' %}">Create lot</a>

            <div class="main-header__menu-wrapper">
                <button class="menu-toggler">
                    <span>{{ user.username }}</span>
                    <img src="{% static 'img/user.png' %}"
                         width="32"
                         height="32"
                         alt="User avatar">
                </button>

                <nav class="user-menu user-menu--logged-in">
                    <ul class="user-menu__list">
                        <li class="user-menu__item">
                            <a href="{% url 'users:profile' user.username %}">Profile</a>
                        </li>
                        <li class="user-menu__item">
                            <a href="{% url 'followers:subscriptions' %}">Subscriptions</a>
                        </li>
                        <li class="user-menu__item">
                            <a href="{% url 'lots:my_bids' %}">My bets</a>
                        </li>
                        <li class="user-menu__item">
                            <a href="{% url 'lots:watchlist' %}">Watchlist</a>
                        </li>
                        <li class="user-menu__item">
                            <a href="{% url 'users:logout' %}">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        {% else %}
            <nav class="user-menu">
                <ul class="user-menu__list">
                    <li class="user-menu__item">
                        <a href="{% url 'users:login' %}">Login</a>
                    </li>
                    <li class="user-menu__item">
                        <a href="{% url 'users:register' %}">Register</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
</header>
