<div class="pagination">
    <span class="pagination__step-links">
        {% if page.has_previous %}
            <a href="?page=1"class="pagination__link" >first</a>
            <a href="?page={{ page.previous_page_number }}"class="pagination__link" >previous</a>
        {% endif %}

        <span class="pagination__current">Page {{ page.number }} of {{ page.paginator.num_pages }}.</span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}"class="pagination__link" >next</a>
            <a href="?page={{ page.paginator.num_pages }}"class="pagination__link" >last</a>
        {% endif %}
    </span>
</div>
