<%- include('../partials/_head.ejs') %>

<body>
  <%- include('../partials/_header.ejs') %>

  <%- body %>

  <%- include('../partials/_footer.ejs') %>

  <?= basename($_SERVER['PHP_SELF']) == 'add-lot.php' ? '<script src="js/flatpickr.js"></script>' : '' ?>
  <script src="js/main.js"></script>
</body>

</html>