<%- contentFor('content') %>

<section class="lots">
  <h1>Boards</h1>

  <ul class="lots__list">
    <li class="lot lots__item">
      <div class="lot__image">
        <a href="/lots/3/">
          <img src="https://letsenhance.io/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" width="350" height="260" alt="1" />
        </a>
      </div>
      <div class="lot__info">
        <div class="lot__header">
          <span class="lot__category">Boards</span>


        </div>

        <h3 class="lot__title">
          <a class="text-link" href="/lots/3/">1</a>
        </h3>

        <div class="lot__state">
          <div class="lot__rate">
            <span class="lot__amount">Price</span>
            <span class="lot__cost">$3.00</span>
          </div>
        </div>
      </div>
    </li>




    <li class="lot lots__item">
      <div class="lot__image">
        <a href="/lots/4/">
          <img src="https://adamj.eu/tech/assets/2021-05-15-ants.jpg" width="350" height="260" alt="Test" />
        </a>
      </div>
      <div class="lot__info">
        <div class="lot__header">
          <span class="lot__category">Boards</span>


        </div>

        <h3 class="lot__title">
          <a class="text-link" href="/lots/4/">Test</a>
        </h3>

        <div class="lot__state">
          <div class="lot__rate">
            <span class="lot__amount">Price</span>
            <span class="lot__cost">$16.00</span>
          </div>
        </div>
      </div>
    </li>




    <li class="lot lots__item">
      <div class="lot__image">
        <a href="/lots/5/">
          <img src="https://adamj.eu/tech/assets/2021-05-15-ants.jpg" width="350" height="260" alt="test 2" />
        </a>
      </div>
      <div class="lot__info">
        <div class="lot__header">
          <span class="lot__category">Boards</span>


        </div>

        <h3 class="lot__title">
          <a class="text-link" href="/lots/5/">test 2</a>
        </h3>

        <div class="lot__state">
          <div class="lot__rate">
            <span class="lot__amount">Price</span>
            <span class="lot__cost">$123.00</span>
          </div>
        </div>
      </div>
    </li>




    <li class="lot lots__item">
      <div class="lot__image">
        <a href="/lots/6/">
          <img src="https://letsenhance.io/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" width="350" height="260" alt="test 3" />
        </a>
      </div>
      <div class="lot__info">
        <div class="lot__header">
          <span class="lot__category">Boards</span>


        </div>

        <h3 class="lot__title">
          <a class="text-link" href="/lots/6/">test 3</a>
        </h3>

        <div class="lot__state">
          <div class="lot__rate">
            <span class="lot__amount">Price</span>
            <span class="lot__cost">$12.00</span>
          </div>
        </div>
      </div>
    </li>




    <li class="lot lots__item">
      <div class="lot__image">
        <a href="/lots/8/">
          <img src="https://stackoverflow.com/questions/3367091/whats-the-cleanest-simplest-to-get-running-datepicker-in-django" width="350" height="260" alt="Flowers" />
        </a>
      </div>
      <div class="lot__info">
        <div class="lot__header">
          <span class="lot__category">Boards</span>


        </div>

        <h3 class="lot__title">
          <a class="text-link" href="/lots/8/">Flowers</a>
        </h3>

        <div class="lot__state">
          <div class="lot__rate">
            <span class="lot__amount">Price</span>
            <span class="lot__cost">$19.00</span>
          </div>
        </div>
      </div>
    </li>


  </ul>

</section>